.cartPreview{
    position: fixed;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    min-width: 400px;
    height: 100vh;
    background-color: #fff;
    transform: translateX(120%);
    transition: all 0.3s;
    padding: 10px 30px;

    &--active{
        transform: translateX(0);
    }

    &__close{
        position: absolute;
        top: 50%;
        left: -50px;
        width: 30px;
        cursor: pointer;
    }

    .no_order_info{
        margin: auto;
        text-align: center;
        
        &__tip{
            font-size: 22px;
        }
    }
}

.general_info{
    display: flex;
    justify-content: space-between;
    width: 100%;

    .order_num{
        font-size: 18px;
        font-weight: 400;
    }
    .order_cost{
        font-size: 24px;
        font-weight: 600;
    }
}

.order_items_list{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    max-height: 80%;
    width: 100%;
}

.order_item{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 2px solid $gray-line;
    width: 100%;

    .image{
        margin-right: 20px;
    }

    .description{
        display: flex;
        flex-direction: row;

        .title{
            font-weight: 600;
            font-size: 16px;
        }
        .size{
            font-size: 12px;
        }
    }

    .cost {
        font-weight: 500;
        font-size: 16px;
    }

    .plus_minus_item{
        display: flex;
        flex-direction: row;
        p:not(:last-child) {
            margin-right: 5px;
        }

        .plus, .minus{
            cursor: pointer;
            height: 20px;
            width: 20px;
            background-color: $background;
            text-align: center;
            border-radius: 50%;
        }
    }

}

.button_order{
    width: 270px;
    position: absolute;
    bottom: 20px;
}