@mixin italic-font{
    font-weight: 500;
    font-style: italic;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.text {
    @include italic-font;
    font-size: 30px;
    width: 100%;
    text-align: center;
}
.linkContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}
.arrow_with_link{
    display: flex;
    align-items: center;

    a {
        @include italic-font;
        margin-bottom: -10px;
        margin-left: 10px;
        color: $orange;
        font-size: 26px;
        cursor: pointer;

    }
}

.cardList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 30px auto;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 30%;
    border-radius: 15px;
    margin: 0 15px 30px 15px;

    &:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

    img {
        width: 100%;
    }
    .container{
        display: flex;
        flex-direction: column;
        padding: 2px 16px;

        h4 {
            font-size: 24px;
            font-weight: 600;
            font-style: italic;
            margin: 0 auto;
        }
    }
}

@media (max-width: 1200px){
    .card {
        width: 45%;
    }
    
}

@media (max-width: 900px){
    .card {
        width: 70%;
    }
}

